body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: #192028; }

.logo {
  width: 14em; }

.message {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase; }

.links {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row; }
  .links .link-item {
    margin: 0 8px; }
    .links .link-item .link {
      text-decoration: none;
      color: #fff;
      font-size: 2em; }
      .links .link-item .link:hover {
        color: #FF8000; }
